<main class="main">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">
          Welcome 
          <% if current_user.present? %>
            <%= current_user.name %>!
          <% else %>
            to the Recipe App!
          <% end %>
        </h1>
        <p class="lead text-muted">Discover Delicious Recipes</p>
        <p>
          <a href="<%= foods_path %>" class="btn btn-primary my-2">Foods</a>
          <a href="<%= public_recipes_path %>" class="btn btn-secondary my-2">Recipes</a>
        </p>
        <% @foods.each do |food| %>
          <div class="col-8">
          <div class="card">
              <h2 class="card-text">
                <%= link_to food.name, public_recipes_path, class: "text-capitalize text-decoration-none"  %>
              </h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</main>
